
html,body,.container {
    height:100%;
}
.container {
    display:table;
    width: 101%;
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.createJournalButton {
    position:absolute;
    padding-top: -25px;
    bottom:15px;
    left:15px;
    background-color:black;
    color: white;   
}

.createJournalWindow{
    position:absolute;
    bottom:25px;
    right:25px;
    height: 95%;
    width: 45%;
    background-color:white;
    color: black;  
}

.add-journal{
    padding: 20px;
}

#map {
    height: 100%;
    width: 100%;
   }

#listOfJournals {
    position: absolute;
    top: 15px;
}

.articleBTN {
    width:100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.scroll-full {
    max-height: 98%;
}