
html, body, .container {
    height:100%;
}
.container {
    display:table;
    width: 101%;
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.createJournalButton {
    position:absolute;
    bottom:15px;
    left:15px;
    background-color:black;
    color: white;   
}

.createJournalWindow{
    position:absolute;
    bottom:25px;
    right:25px;
    height: 95%;
    width: 45%;
    background-color:white;
    color: black;  
    display: none;
}

.add-journal{
    padding: 20px;
}

#map {
    height: 100%;
    width: 100%;
   }

#listOfJournals {
    position: absolute;
    top: 15px;
    padding: 10px;

}

.articleBTN {
    width:100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.articleBTN h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
}

.articleBTN p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}

.scroll-full {
    max-height: 98%;
}